<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.privatebrowser.dual.browsing.app.free">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.privatebrowser.dual.browsing.app.free.Vpn.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/private_browser"
        android:label="@string/app_name"
        android:roundIcon="@drawable/private_browser"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"/>
        <activity
            android:name="com.privatebrowser.dual.browsing.app.free.DualBrowserActivities.DualBrowserActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity
            android:name="com.privatebrowser.dual.browsing.app.free.HomeActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.privatebrowser.dual.browsing.app.free.BrowserActivities.HistoryActivity" />
        <activity android:name="com.privatebrowser.dual.browsing.app.free.BrowserActivities.BrowserSearchActivity" />
        <activity
            android:name="com.privatebrowser.dual.browsing.app.free.Vpn.VpnActivity"
            android:theme="@style/AppTheme" />

        <receiver
            android:name="com.privatebrowser.dual.browsing.app.free.Reciever.DownloadCompleteReciever"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.privatebrowser.dual.browsing.app.free.IncognitoActivities.DownloadActivity"
            android:theme="@style/BookmarkTheme" />
        <activity
            android:name="com.privatebrowser.dual.browsing.app.free.IncognitoActivities.BookmarksActivity"
            android:theme="@style/BookmarkTheme" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.privatebrowser.dual.browsing.app.free.IncognitoActivities.SearchActivity"
            android:theme="@style/IncognitoTheme"/>
        <activity android:name="com.privatebrowser.dual.browsing.app.free.IncognitoActivities.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/IncognitoTheme"
            />
    </application>

</manifest>